
.team-box {
  background-color: #eee;
  margin: 45px 0;
  padding: 20px 0;
}

.team-col {
  padding: 30px;
  height: 500px;
  text-align: center;
  p {
    margin-top: 12px;
    font-size: 16px;
  }
  img {
    display: inline-block;
    max-width:75%;
    border-radius: 50%;
  }
}