$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/"; 

// bower:scss
// endbower

body {
  font-family: 'Helvetica Neue', Helvetica;
  text-align: center;
  color: #5a5a5a;
}

.plan-box {
  padding: 60px 0;
}

.footer {
  padding: 25px 0;
  border-top: 1px solid #ddd;
}

@import 'intro';
@import 'features';
@import 'team';
